@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Required core styles
@include mat.core();

// Create theme using Material 3 tokens
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$green-palette,
  ),
));

// Apply theme to all components
:root {
  @include mat.all-component-themes($theme);
}

/* Add application styles & imports to this file! */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}